.owned-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owned-page .blockies {
  display: flex;
}
.owned-page .blockies .identicon {
  border-radius: 2px;
  margin-right: 5px;
}
