.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  height: 100px;
  width: 250px;
}
.image-component {
  height: 250px;
  width: 300px;
  border-style: dotted;
  border-color: beige;
  position: relative;
  border-width: 2px;
}
.image-component .image-icon {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
  font-size: 50px;
}
